**/.vs/**
/VC2017/Debug**
/VC2017/Release**
/VC2017/LinuxDebug**
/VC2017/LinuxRelease**
/VC2017/obj**
/VC2017/*.nuget.dgspec.json
/VC2017/*.nuget.targets
/VC2017/packages**
/VC2017/project.lock.json
/VC2017/project.nuget.cache
/lib**